<main>
  <div class="topPage">
    <app-header />

    <app-form
      [productsList]="productsList"
      (updateProductsList)="onUpdateProductsList($event)"
    />
  </div>

  <div class="productsList">
    <div *ngFor="let product of productsList; index as i">
      <div [ngClass]="{ checked: product.isChecked, product: true }">
        <div class="box">
          <input
            type="checkbox"
            [checked]="product.isChecked"
            (click)="handleCheckProduct(i)"
          />

          <span>{{ product.name }}</span>
        </div>

        <div class="box2">
          <div class="countContainer">
            <button
              type="button"
              (click)="handleLessQuantity(i, productsList)"
              [disabled]="product.isChecked"
            >
              -
            </button>
            <input
              value="{{ product.quantity.value }}"
              type="number"
              pattern="[0-9]*"
              inputmode="numeric"
              (change)="handleChangeQuantity($event, i, productsList)"
              [disabled]="product.isChecked"
            />
            <button
              type="button"
              (click)="handleMoreQuantity(i, productsList)"
              [disabled]="product.isChecked"
            >
              +
            </button>
          </div>

          <input
            value="{{ product.price }}"
            [ngStyle]="{ width: '70px' }"
            pattern="[0-9]*"
            inputMode="numeric"
            (change)="handleChangePrice($event, i)"
            [disabled]="product.isChecked"
          />

          <div
            role="button"
            (click)="product.isChecked ? null : handleDeleteProduct(i)"
            [ngClass]="{ checked: product.isChecked, deleteButton: true }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#008030"
              className="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5v7a.5.5 0 01-1 0v-7a.5.5 0 011 0z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="containerPrice">
    <strong>Total: </strong>
    <span>{{ totalPrice }}</span>
  </div>

  <div id="container-button" class="addButton">
    <div class="infoButton">
      <img src="../assets/logo.png" alt="logo-shop-list" />
      <span>Instalar ShopList - React</span>
      <div>
        <button id="add-button">Instalar</button>
        <button id="cancel-button" className="buttonVariant">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</main>
